.btn-yellow {
  background-color: #e4aa40;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.btn-yellow:hover {
  background-color: #bb821b;
  color: white;
}
